body {
  font-family: Helvetica, Arial, sans-serif;
  background:url('https://fiservseminars-media.s3.amazonaws.com/bkgd.png') no-repeat center -20px;
  padding:0;
  margin:0;
  color:#000;
  font-size:14px;
}
a {
  text-decoration:none;
}
nav .container {
  width:100%;
  padding:0;
}
.navbar-nav .btn {
  min-width:100px;
  width:100px;
}
.nav-btn, .note-save {
  min-width:100px;
  font-size:1.14rem;
  line-height: 1.5;
  padding:6px 12px;
  margin:12px;
  border-radius: .1rem;
  font-weight:normal;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.authentication {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top:-40px;
  max-width:1200px;
}
.authentication p {
  color:#000;
  font-size:1rem;
  cursor:pointer;
}
.authentication-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap:wrap;
}
.authentication-btns a {
  color:#000;
}
a.signin, a.profile {
  background: rgb(102,153,204);
  border-color:rgb(102,153,204);
  min-width:100px;
  color:#fff;
}
a.signin:hover{
  background:rgb(230,230,230);
  border-color:#000;
  color:#000;
  min-width:100px;
}
a.signout, button {
  background:#ff6600;
  border-color:#000;
  color:#fff;
}
a.signout:hover, button:hover {
  background:#000;
  color:#fff;
}
button.add-note {
  border:none;
}
button.add-note:hover {
  background:rgba(255,102,0,.7);
}
.logo {
  margin:10px;
}
h1 {
  font-size:1.8rem;
  color:#ff6600;
}
.hero h1 {
  font-size:22px;
  color:#ff6600;
  font-weight:bold;
}
h2 {
  color:#2e8bca;
  font-size:22px;
  font-weight: normal;
}
h2.section-header {
  border-bottom: solid 1px #ccc;
  margin-bottom:10px;
}
.seminar-container h2 {
  margin-bottom:1rem;
}
h3 {
  font-weight: bold;
  font-size:14px;
}
h3.meetingTitle {
  color:#fff;
  font-size:1.1rem;
}
h6 {
  margin-bottom:0 !important;
}
.navbar {
  border:none;
}
.navbar-wrapper, .navbar-default {
  width:100%;
  background:#fff;
  border-bottom:1px solid #ff6600;
  height:203px;
  border-radius:0;
  width:100%;
}
nav.navbar.announcement {
  background:#6699cc;
  height:76px;
  width:100%;
  max-width: 100%;
  border-radius:0;
  border:none;
}
nav.navbar.announcement p {
  margin:0 auto;
  max-width:1200px;
  color:#fff;   
  text-align:center;
  padding:30px 0;
  font-size:1.2rem;
}
nav.navbar.announcement a {
  color:#333;
  text-decoration:underline;
}
nav.navbar.announcement a:hover {
  text-decoration:none;
}
nav.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navbar.navbar-expand {
  justify-content: flex-start;
  max-width:1200px;
}
.wrapper {
  height:100%;
  display:flex;
  flex-direction: row;
}
.navbar.sidebar {
  width:128px;
  background:#666666;
  padding:40px 0;
  /* height:100%; */
  position: relative;
  left:0;
}
.navbar.sidebar .dqmIQK {
  top: 0;
  width: 128px;
  background: #666666;
  padding: 40px 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidenav---sidenav-nav---3tvij {
  background:#666666;
  height:100%;
}
.sidenav---selected---1EK3y + .sidenav---navitem---9uL5T {
  color:#666666;
}
.MuiSvgIcon-root {
  fill:#fff !important;
}
.sidenav-item-content {
  padding:37px 0 20px 0;
}   
.sidebar .sidenav---sidenav---_2tBP {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1006;
  min-width: 64px;
}
.sidenav---navtext---1AE_f {
  visibility: visible !important;
  opacity: 1 !important;
}
.sidenav---navicon---3gCRo {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo {
  height: 75px!important;
  display: flex !important;
  justify-content: center;
  margin-right:0 !important;
  line-height: 30px !important;
}
.sidenav---navitem---9uL5T {
  height: 75px!important;
  display: flex !important;
  justify-content: center; 
  margin-right:0 !important;
  line-height: 0 !important;
  margin:10px 0;
}
.fa-search {
  color:#fff;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > .sidebar-nav-link, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > .sidebar-nav-link {
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo {
  opacity: 1.0 !important;
  color:#fff;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > .sidebar-nav-link:hover, .sidenav-item-icon:hover {
  opacity: .7;
  color:#fff;
}
.navbar.sidebar .sc-AxirZ {
  height:75px;
}
.main-content {
  width:80%;
  margin:0 auto !important;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:flex-start;
}
.left {
  background:#fff;
  width: 60%;
  height:100%;
  padding:1% 2%;
  margin:3% 2% 0 2%;
  display: inline-block;
}
.welcome-video {
  text-align:Center;
}
.right {
  background:transparent;
  width:30%;
  height:100%;
}
.meetingContent {
  background:rgba(0,0,0,.75);
  border-left:10px solid #ff6600;
  padding:5px 20px;
  margin:2% 0;
  width: 100%;
}
.meetingContent:first-child {
  margin-top:0;
  width: 100%;
}
.meetingContent p {
  color:#fff;
}
.footer {
  background: #333;
  padding: 1% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  position: relative;
}

/*Login Form*/
.container-login100 {
  background:#000;
  opacity: 0.9;
  transition: opacity 0.3s ease-in 0s;
  width:auto;
}
.login-wrap {
    background: #fff;
    border-radius: 6px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    width:50%;
    margin:20px auto;
    transition: transform 0.6s, opacity 0.6s;
    transition-delay: 0.5s;
    box-shadow: 0 0 40px 4px #111118;
}
.login-header {
  text-align: center;
    padding: 11px;
    color: #fff;
    position: relative;
    background: #ff6600;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 100%;
    z-index: 99;
}
.login-header h2 {
  font-size:22px;
  color:#fff;
}
.login-form {
  background:#fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.login-form {
  background:#fff;
  padding: 20px;
}
.form-group  {
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  position: relative;
  background: #f1f1f1;
  transition: border-color 0.8s;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-group input {
  background-color: rgb(232, 240, 254);
  border: 0;
  padding: 0 14px;
  right: 0;
  height: 40px;
  font-size: 13px;
  border-radius: 0 2px 2px 0;
  width:80%;
}
.form-group .icons {
  width: 20%;
  text-align: center;
  color: #333;
}
.privacy-policy {
  background: #eee;
  text-align: center;
  display: block;
  font-size: 12px;
  color: rgba(0,0,0,0.54);
  line-height: 22px;
  padding: 10px;
  position: relative;
}

/*Meetings*/
.main-content.meetings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.left.meetings {
  background:none;
  width: 60%;
  height:100%;
  padding:1% 2%;
  margin:3% 2% 0 2%;
  display: inline-block;
}
.left.meetings h1 {
  color:#fff;
}
.right.meetings {
  background:#666666;
  width: 40%;
  height:100%;
  padding:1% 2%;
  margin:3% 2% 0 2%;
  display: inline-block;
}
.main-content.meetings h1 {
  color:#fff;
}
.note-save {
  background:#ff6600;
  color:#fff;
  float:right;
  font-size:.8rem;
  min-width:unset;
}
.left.meetings {
  display: flex;
  align-self:flex-start;
  margin-bottom:10px;
  padding: 1% 2%;
  flex-direction: column;
}
.bottom.meetings {
  background:#666666;
  display:flex;
  width:100%;
  margin-top:10px;
  padding:10px;
}
.chat {
  width:100%;
  height:100%;
  background:#666666;
  margin-top:10px;
  padding:10px;
}
.chat-window {
  background:#fff;
  height:50%;
  width:100%;
  min-height:200px;
}
.chat-container {
  width:auto;
  margin-top:0;
}

.chat-container .chatmessage-container {
  width:100%;
}
.notes {
  width:40%;
}
.notes-input {
  width:100%;
}
.notes-wrapper {
  height:50%;
  min-height:400px;
  width:98%;
  padding:10px;
}
.notes-wrapper h1 {
  color:#fff;
}
.notes-form {
  background:#fff;
  height:50%;
  min-height:400px;
  width:98%;
  padding:10px;
}
.profile {
  background:#fff;
  margin:0 auto;
  height: 100%;
  width:80%;
  padding:20px;
}
.profile-area {
  margin:0 auto;
}